<!-- app/pages/register.njk-->
{% extends "layout2018.njk" %}

{% block title %}
    Register
{% endblock %}
{% block content %}

    {# {% import 'macros/nav-macro.njk' as nav %} #}
    {# {{nav.active('register')}} #}

    {# {% import 'macros/header-macro.njk' as header %} #}

    {# {{header.pageNames( 'Register' )}} #}
{% include "partials/register2018-nav.njk" %}
    <div class="container register2018-container">
        {% include "partials/register-ticket.njk" %}
        {% include "partials/register2018.njk" %}
        {# {% include "partials/footer.njk" %} #}
    </div>
{% endblock %}
