<!-- app/pages/register.njk-->
{% extends "layout-review2018.njk" %}

{% block title %}
    Review
{% endblock %}
{% block content %}

    {# {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('register')}}

    {% import 'macros/header-macro.njk' as header %}

    {{header.pageNames( 'Review' )}} #}

    <div class="container register2018-container">
        {% include "partials/review2018.njk" %}
        {# {% include "partials/footer.njk" %} #}
    </div>
{% endblock %}
