<div class="gridish-container--complete gridish-grid">
    <div class='flex flex-align-items-start register2018-ticket register2018-ticket--border register2018-ticket--spacing'>

        <img class="register2018-ticket--icon" src="../assets/graphics/icons/register2018-ticket.svg" />
        <div class="flex flex-column register2018-ticket--content">
            <h2 class="register2018-ticket--content-title">$40 per person</h2>
                <p class="register2018-ticket--content-subhead__small">Participate in invaluable workshops, cool events, tasty meals, insightful talks, parties, after-parties
                  and countless
                  opportunities to network.</p>
                  <p class="register2018-ticket--content-subhead__xsmall">Thought At Work 2018 Ticket</p>
        </div>
    </div>
    <h3 class="content-Block--margin-top gridish-grid__col--small--4 gridish-grid__col--xsmall--3">Register now to recieve a general
      admission
      ticket</h3>
</div>
