<script src="js/register.js"></script>

<a href="register">
    <div id="flag"></div>
</a>

<div id="register" class="container form__margin-top gridish-container--complete gridish-grid">
    
    <h1>Registration review</h1>
    <br><br>
    <h4>Thank you for completing the first step in your registration.</h4> <br> <br>
    <p>To make your secure credit card payment, click the button below.</p>
    <br>
    
    <?php


    //print '<pre>';print_r($_POST);print '</pre>';
    echo $content;

      ?>
      
    <br><br>
<p>Immediately after the payment transaction is processed, you will receive an email verifying the information you provided.</p>
</div>
