<!--source /templates/layout.njk -->
<!doctype html>
<html>
<head>
	
	{% block noCache %}

	{% endblock %}

	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Thought At Work 2018</title>
  <meta name="keywords" content="sample, something">
  <meta name="format-detection" content="telephone=no">
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=0, initial-scale=1.0, width=device-width, maximum-scale=1, minimum-scale=1"
  >
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta property="og:url" content="http://thoughtatwork.cias.rit.edu">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Thought At Work, a student-run design conference">
  <meta property="og:description" content="Thought At Work is a three-day, student-run, student-focused design conference that takes place every October at Rochester Institute of Technology."
  >
  <meta property="og:image" content="http://thoughtatwork.cias.rit.edu/assets/graphics/WebBanner_TAW2018.jpg"
  >
  <meta property="fb:app_id" content="486507185043060">
  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@TAW_RIT">
  <meta name="twitter:title" content="Thought At Work, a student-run design conference">
  <meta name="twitter:description" content="Thought At Work is a three-day, student-run, student-focused design conference that takes place every October at Rochester Institute of Technology."
  >
  <meta name="twitter:creator" content="@TAW_RIT">
  <meta name="twitter:image" content="http://thoughtatwork.cias.rit.edu/assets/graphics/WebBanner_TAW2018.jpg"
  >
  <meta name="description" content="Student-Run Design Conference">
  <meta name="title" content="Thought at Work">
	<link rel="icon" type="image/ico" href="assets/graphics/faviconPurple2018.png">
	<base href="/">
	
	<link rel="stylesheet"
	      type="text/css"
	      href="styles/register.css">
	<script type="text/javascript"
	        src="vendors/jquery.min.js"></script>
</head>

<body class="dotGrid-background">
{% include "partials/register2018-nav.njk" %}
	{% block content %}
    
 	{% endblock %}
	<!-- Load scripts. -->
</body>
</html>
